body {
    background-color: green;
 }

 .main-box { 
background-color: lightcoral;
width: 400px;
text-align: center;
border-radius: 10px;
padding: 2px 0px;
margin: 20px auto;

 }

 .box {
background-color: #000000;
border: 5px solid #FF0606;
border-radius: 20px;
width: 550px;
height: 550px;
margin: 20px auto;
padding : 10px 40px;
}

.card {
background-color: #1FE8B7;
border-radius: 2px;
width: 350px;
padding: 25px 75px;
margin: 20px auto;
padding-right: 0px;
}